<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.byte_artist.gepaeck_planer.sybillesgepaeckplaner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CategoryActivity" />
        <activity android:name=".activity.LuggageActivity" />
        <activity android:name=".activity.PackingListActivity" />
        <activity android:name=".dialog.CategoryEditDialog" />
        <activity android:name=".dialog.LuggageEditDialog" />
        <activity android:name=".dialog.PackingListEditDialog" />
        <activity android:name=".activity.PackingListDetailActivity" />
        <activity android:name=".dialog.PackingListEntryEditDialog" />
    </application>

</manifest>